@import 'color-pokemon.scss';
@import "../htmlBADGES/Menu/style.scss";

$colores: (
    Ground: $colorGround,
    Flying: $colorFlying,
    Psychi: $colorPsychi,
    Bug: $colorBug,
    Rock: $colorRock,
    Dragon: $colorDragon,
    Dark: $colorDark,
    Steel: $colorSteel,
    Hada: $colorHada,
    Fire: $colorFire,
    Water: $colorWater,
    Grass: $colorGrass,
    Electric: $colorElectric,
    Ice: $colorIce,
    Fighting: $colorFighting,
    Poison: $colorPoison,
    Ghost: $colorGhost,
    White1:$colorConDerecho,
    Black1:$colorSinDerecho,
    Normal: $colorNormal
);
$tipos: Ground, Flying, Psychi, Bug, Rock, Dragon, Dark, Steel, Hada, Fire, Water, Grass, Electric, Ice, Fighting, Poison, Ghost, Black1, White1, Normal;

//basicamente use el mismo que en shadow-utils.scss xD
@each $tipo in $tipos{
    .bgc-#{$tipo}{
        background-color: map-get($colores,$tipo);
    }
}