@import 'color-pokemon';

.sh-leftNormal{
    box-shadow: 5px 0px 5px $colorNormal;
}
.sh-rightDown5{
    box-shadow: 0px 5px 5px $colorNormal;
}

.sh-leftUp2{
    box-shadow: 2px 0px 2px $colorDark
}
.sh-rightDown2{
    box-shadow: 0px 2px 2px $color;
}