@charset "UTF-8";
/*Los colores de los que si quere cambiar uno aqui venimos y evitamos ir en cada apartado a cambiarlo :v*/
/*.sh-leftNormal{
    box-shadow: -5px 0px 5px $colorNormal;
}
.sh-rightNormal{
    box-shadow: 5px 0px 5px $colorNormal;
}
.sh-upNormal{
    box-shadow: 0 -5px 5px $colorNormal;
}
.sh-downNormal{
    box-shadow: 0 5px 5px $colorNormal;
}

.sh-leftFire{
    box-shadow: -5px 0 5px $colorFire;
}
.sh-rightFire{
    box-shadow: 5px 0 5px $colorFire;
}
.sh-upFire{
    box-shadow: 0 -5px 5px $colorFire;
}
.sh-downFire{
    box-shadow: 0 5px 5px $colorFire;
}

.sh-leftWater{
    box-shadow: -5px 0 5px $colorWater;
}
.sh-rightWater{
    box-shadow: 5px 0 5px $colorWater;
}
.sh-upWater{
    box-shadow: 0 -5px 5px $colorWater;
}
.sh-downWater{
    box-shadow: 0 5px 5px $colorWater;
}

.sh-leftGrass{
    box-shadow: -5px 0 5px $colorGrass;
}
.sh-rightGrass{
    box-shadow: 5px 0 5px $colorGrass;
}
.sh-upGrass{
    box-shadow: 0 -5px 5px $colorGrass;
}
.sh-downGrass{
    box-shadow: 0 5px 5px $colorGrass;
}

.sh-leftElectric{
    box-shadow: -5px 0 5px $colorElectric;
}
.sh-rightElectric{
    box-shadow: 5px 0 5px $colorElectric;
}
.sh-upElectric{
    box-shadow: 0 -5px 5px $colorElectric;
}
.sh-downElectric{
    box-shadow: 0 5px 5px $colorElectric;
}

.sh-leftIce{
    box-shadow: -5px 0 5px $colorIce;
}
.sh-rightIce{
    box-shadow: 5px 0 5px $colorIce;
}
.sh-upIce{
    box-shadow: 0 -5px 5px $colorIce;
}
.sh-downIce{
    box-shadow: 0 5px 5px $colorIce;
}

.sh-leftFighting{
    box-shadow: -5px 0 5px $colorFighting;
}
.sh-rightFighting{
    box-shadow: 5px 0 5px $colorFighting;
}
.sh-upFighting{
    box-shadow: 0 -5px 5px $colorFighting;
}
.sh-downFighting{
    box-shadow: 0 5px 5px $colorFighting;
}

.sh-leftPoison{
    box-shadow: -5px 0 5px $colorPoison;
}
.sh-rightPoison{
    box-shadow: 5px 0 5px $colorPoison;
}
.sh-upPoison{
    box-shadow: 0 -5px 5px $colorPoison;
}
.sh-downPoison{
    box-shadow: 0 5px 5px $colorPoison;
}
*/
/*El bucle @each en SASS te permite iterar sobre una lista o un mapa y ejecutar un bloque de código para cada 
*elemento de esa lista o mapa. Es una forma poderosa de generar código repetitivo de manera más eficiente y
*menos propensa a errores.
*/
.sh-leftGround {
  box-shadow: -5px 0 5px #e2bf65;
}

.sh-rightGround {
  box-shadow: 5px 0 5px #e2bf65;
}

.sh-upGround {
  box-shadow: 0 -5px 5px #e2bf65;
}

.sh-downGround {
  box-shadow: 0 5px 5px #e2bf65;
}

.sh-l-dGround {
  box-shadow: 5px -5px 10px #e2bf65;
}

.sh-l-uGround {
  box-shadow: -5px -5px 10px #e2bf65;
}

.sh-r-dGround {
  box-shadow: 5px 5px 10px #e2bf65;
}

.sh-r-uGround {
  box-shadow: -5px 5px 10px #e2bf65;
}

.sh-u-dGround {
  box-shadow: 0px 5px 10px -5px #e2bf65, 0px -5px 10px -5px #e2bf65;
}

.sh-l-rGround {
  box-shadow: 5px 0px 10px -5px #e2bf65, -5px 0px 10px -5px #e2bf65;
}

.sh-gGround {
  box-shadow: 0px 0px 10px #e2bf65;
}

.sh-leftFlying {
  box-shadow: -5px 0 5px #a98ff3;
}

.sh-rightFlying {
  box-shadow: 5px 0 5px #a98ff3;
}

.sh-upFlying {
  box-shadow: 0 -5px 5px #a98ff3;
}

.sh-downFlying {
  box-shadow: 0 5px 5px #a98ff3;
}

.sh-l-dFlying {
  box-shadow: 5px -5px 10px #a98ff3;
}

.sh-l-uFlying {
  box-shadow: -5px -5px 10px #a98ff3;
}

.sh-r-dFlying {
  box-shadow: 5px 5px 10px #a98ff3;
}

.sh-r-uFlying {
  box-shadow: -5px 5px 10px #a98ff3;
}

.sh-u-dFlying {
  box-shadow: 0px 5px 10px -5px #a98ff3, 0px -5px 10px -5px #a98ff3;
}

.sh-l-rFlying {
  box-shadow: 5px 0px 10px -5px #a98ff3, -5px 0px 10px -5px #a98ff3;
}

.sh-gFlying {
  box-shadow: 0px 0px 10px #a98ff3;
}

.sh-leftPsychi {
  box-shadow: -5px 0 5px #f95587;
}

.sh-rightPsychi {
  box-shadow: 5px 0 5px #f95587;
}

.sh-upPsychi {
  box-shadow: 0 -5px 5px #f95587;
}

.sh-downPsychi {
  box-shadow: 0 5px 5px #f95587;
}

.sh-l-dPsychi {
  box-shadow: 5px -5px 10px #f95587;
}

.sh-l-uPsychi {
  box-shadow: -5px -5px 10px #f95587;
}

.sh-r-dPsychi {
  box-shadow: 5px 5px 10px #f95587;
}

.sh-r-uPsychi {
  box-shadow: -5px 5px 10px #f95587;
}

.sh-u-dPsychi {
  box-shadow: 0px 5px 10px -5px #f95587, 0px -5px 10px -5px #f95587;
}

.sh-l-rPsychi {
  box-shadow: 5px 0px 10px -5px #f95587, -5px 0px 10px -5px #f95587;
}

.sh-gPsychi {
  box-shadow: 0px 0px 10px #f95587;
}

.sh-leftBug {
  box-shadow: -5px 0 5px #a6b91a;
}

.sh-rightBug {
  box-shadow: 5px 0 5px #a6b91a;
}

.sh-upBug {
  box-shadow: 0 -5px 5px #a6b91a;
}

.sh-downBug {
  box-shadow: 0 5px 5px #a6b91a;
}

.sh-l-dBug {
  box-shadow: 5px -5px 10px #a6b91a;
}

.sh-l-uBug {
  box-shadow: -5px -5px 10px #a6b91a;
}

.sh-r-dBug {
  box-shadow: 5px 5px 10px #a6b91a;
}

.sh-r-uBug {
  box-shadow: -5px 5px 10px #a6b91a;
}

.sh-u-dBug {
  box-shadow: 0px 5px 10px -5px #a6b91a, 0px -5px 10px -5px #a6b91a;
}

.sh-l-rBug {
  box-shadow: 5px 0px 10px -5px #a6b91a, -5px 0px 10px -5px #a6b91a;
}

.sh-gBug {
  box-shadow: 0px 0px 10px #a6b91a;
}

.sh-leftRock {
  box-shadow: -5px 0 5px #b6a136;
}

.sh-rightRock {
  box-shadow: 5px 0 5px #b6a136;
}

.sh-upRock {
  box-shadow: 0 -5px 5px #b6a136;
}

.sh-downRock {
  box-shadow: 0 5px 5px #b6a136;
}

.sh-l-dRock {
  box-shadow: 5px -5px 10px #b6a136;
}

.sh-l-uRock {
  box-shadow: -5px -5px 10px #b6a136;
}

.sh-r-dRock {
  box-shadow: 5px 5px 10px #b6a136;
}

.sh-r-uRock {
  box-shadow: -5px 5px 10px #b6a136;
}

.sh-u-dRock {
  box-shadow: 0px 5px 10px -5px #b6a136, 0px -5px 10px -5px #b6a136;
}

.sh-l-rRock {
  box-shadow: 5px 0px 10px -5px #b6a136, -5px 0px 10px -5px #b6a136;
}

.sh-gRock {
  box-shadow: 0px 0px 10px #b6a136;
}

.sh-leftDragon {
  box-shadow: -5px 0 5px #6f35fc;
}

.sh-rightDragon {
  box-shadow: 5px 0 5px #6f35fc;
}

.sh-upDragon {
  box-shadow: 0 -5px 5px #6f35fc;
}

.sh-downDragon {
  box-shadow: 0 5px 5px #6f35fc;
}

.sh-l-dDragon {
  box-shadow: 5px -5px 10px #6f35fc;
}

.sh-l-uDragon {
  box-shadow: -5px -5px 10px #6f35fc;
}

.sh-r-dDragon {
  box-shadow: 5px 5px 10px #6f35fc;
}

.sh-r-uDragon {
  box-shadow: -5px 5px 10px #6f35fc;
}

.sh-u-dDragon {
  box-shadow: 0px 5px 10px -5px #6f35fc, 0px -5px 10px -5px #6f35fc;
}

.sh-l-rDragon {
  box-shadow: 5px 0px 10px -5px #6f35fc, -5px 0px 10px -5px #6f35fc;
}

.sh-gDragon {
  box-shadow: 0px 0px 10px #6f35fc;
}

.sh-leftDark {
  box-shadow: -5px 0 5px #705746;
}

.sh-rightDark {
  box-shadow: 5px 0 5px #705746;
}

.sh-upDark {
  box-shadow: 0 -5px 5px #705746;
}

.sh-downDark {
  box-shadow: 0 5px 5px #705746;
}

.sh-l-dDark {
  box-shadow: 5px -5px 10px #705746;
}

.sh-l-uDark {
  box-shadow: -5px -5px 10px #705746;
}

.sh-r-dDark {
  box-shadow: 5px 5px 10px #705746;
}

.sh-r-uDark {
  box-shadow: -5px 5px 10px #705746;
}

.sh-u-dDark {
  box-shadow: 0px 5px 10px -5px #705746, 0px -5px 10px -5px #705746;
}

.sh-l-rDark {
  box-shadow: 5px 0px 10px -5px #705746, -5px 0px 10px -5px #705746;
}

.sh-gDark {
  box-shadow: 0px 0px 10px #705746;
}

.sh-leftSteel {
  box-shadow: -5px 0 5px #b7b7ce;
}

.sh-rightSteel {
  box-shadow: 5px 0 5px #b7b7ce;
}

.sh-upSteel {
  box-shadow: 0 -5px 5px #b7b7ce;
}

.sh-downSteel {
  box-shadow: 0 5px 5px #b7b7ce;
}

.sh-l-dSteel {
  box-shadow: 5px -5px 10px #b7b7ce;
}

.sh-l-uSteel {
  box-shadow: -5px -5px 10px #b7b7ce;
}

.sh-r-dSteel {
  box-shadow: 5px 5px 10px #b7b7ce;
}

.sh-r-uSteel {
  box-shadow: -5px 5px 10px #b7b7ce;
}

.sh-u-dSteel {
  box-shadow: 0px 5px 10px -5px #b7b7ce, 0px -5px 10px -5px #b7b7ce;
}

.sh-l-rSteel {
  box-shadow: 5px 0px 10px -5px #b7b7ce, -5px 0px 10px -5px #b7b7ce;
}

.sh-gSteel {
  box-shadow: 0px 0px 10px #b7b7ce;
}

.sh-leftHada {
  box-shadow: -5px 0 5px #d685ad;
}

.sh-rightHada {
  box-shadow: 5px 0 5px #d685ad;
}

.sh-upHada {
  box-shadow: 0 -5px 5px #d685ad;
}

.sh-downHada {
  box-shadow: 0 5px 5px #d685ad;
}

.sh-l-dHada {
  box-shadow: 5px -5px 10px #d685ad;
}

.sh-l-uHada {
  box-shadow: -5px -5px 10px #d685ad;
}

.sh-r-dHada {
  box-shadow: 5px 5px 10px #d685ad;
}

.sh-r-uHada {
  box-shadow: -5px 5px 10px #d685ad;
}

.sh-u-dHada {
  box-shadow: 0px 5px 10px -5px #d685ad, 0px -5px 10px -5px #d685ad;
}

.sh-l-rHada {
  box-shadow: 5px 0px 10px -5px #d685ad, -5px 0px 10px -5px #d685ad;
}

.sh-gHada {
  box-shadow: 0px 0px 10px #d685ad;
}

.sh-leftFire {
  box-shadow: -5px 0 5px #ee8130;
}

.sh-rightFire {
  box-shadow: 5px 0 5px #ee8130;
}

.sh-upFire {
  box-shadow: 0 -5px 5px #ee8130;
}

.sh-downFire {
  box-shadow: 0 5px 5px #ee8130;
}

.sh-l-dFire {
  box-shadow: 5px -5px 10px #ee8130;
}

.sh-l-uFire {
  box-shadow: -5px -5px 10px #ee8130;
}

.sh-r-dFire {
  box-shadow: 5px 5px 10px #ee8130;
}

.sh-r-uFire {
  box-shadow: -5px 5px 10px #ee8130;
}

.sh-u-dFire {
  box-shadow: 0px 5px 10px -5px #ee8130, 0px -5px 10px -5px #ee8130;
}

.sh-l-rFire {
  box-shadow: 5px 0px 10px -5px #ee8130, -5px 0px 10px -5px #ee8130;
}

.sh-gFire {
  box-shadow: 0px 0px 10px #ee8130;
}

.sh-leftWater {
  box-shadow: -5px 0 5px #6390f0;
}

.sh-rightWater {
  box-shadow: 5px 0 5px #6390f0;
}

.sh-upWater {
  box-shadow: 0 -5px 5px #6390f0;
}

.sh-downWater {
  box-shadow: 0 5px 5px #6390f0;
}

.sh-l-dWater {
  box-shadow: 5px -5px 10px #6390f0;
}

.sh-l-uWater {
  box-shadow: -5px -5px 10px #6390f0;
}

.sh-r-dWater {
  box-shadow: 5px 5px 10px #6390f0;
}

.sh-r-uWater {
  box-shadow: -5px 5px 10px #6390f0;
}

.sh-u-dWater {
  box-shadow: 0px 5px 10px -5px #6390f0, 0px -5px 10px -5px #6390f0;
}

.sh-l-rWater {
  box-shadow: 5px 0px 10px -5px #6390f0, -5px 0px 10px -5px #6390f0;
}

.sh-gWater {
  box-shadow: 0px 0px 10px #6390f0;
}

.sh-leftGrass {
  box-shadow: -5px 0 5px #7ac74c;
}

.sh-rightGrass {
  box-shadow: 5px 0 5px #7ac74c;
}

.sh-upGrass {
  box-shadow: 0 -5px 5px #7ac74c;
}

.sh-downGrass {
  box-shadow: 0 5px 5px #7ac74c;
}

.sh-l-dGrass {
  box-shadow: 5px -5px 10px #7ac74c;
}

.sh-l-uGrass {
  box-shadow: -5px -5px 10px #7ac74c;
}

.sh-r-dGrass {
  box-shadow: 5px 5px 10px #7ac74c;
}

.sh-r-uGrass {
  box-shadow: -5px 5px 10px #7ac74c;
}

.sh-u-dGrass {
  box-shadow: 0px 5px 10px -5px #7ac74c, 0px -5px 10px -5px #7ac74c;
}

.sh-l-rGrass {
  box-shadow: 5px 0px 10px -5px #7ac74c, -5px 0px 10px -5px #7ac74c;
}

.sh-gGrass {
  box-shadow: 0px 0px 10px #7ac74c;
}

.sh-leftElectric {
  box-shadow: -5px 0 5px #f7d02c;
}

.sh-rightElectric {
  box-shadow: 5px 0 5px #f7d02c;
}

.sh-upElectric {
  box-shadow: 0 -5px 5px #f7d02c;
}

.sh-downElectric {
  box-shadow: 0 5px 5px #f7d02c;
}

.sh-l-dElectric {
  box-shadow: 5px -5px 10px #f7d02c;
}

.sh-l-uElectric {
  box-shadow: -5px -5px 10px #f7d02c;
}

.sh-r-dElectric {
  box-shadow: 5px 5px 10px #f7d02c;
}

.sh-r-uElectric {
  box-shadow: -5px 5px 10px #f7d02c;
}

.sh-u-dElectric {
  box-shadow: 0px 5px 10px -5px #f7d02c, 0px -5px 10px -5px #f7d02c;
}

.sh-l-rElectric {
  box-shadow: 5px 0px 10px -5px #f7d02c, -5px 0px 10px -5px #f7d02c;
}

.sh-gElectric {
  box-shadow: 0px 0px 10px #f7d02c;
}

.sh-leftIce {
  box-shadow: -5px 0 5px #96d9d6;
}

.sh-rightIce {
  box-shadow: 5px 0 5px #96d9d6;
}

.sh-upIce {
  box-shadow: 0 -5px 5px #96d9d6;
}

.sh-downIce {
  box-shadow: 0 5px 5px #96d9d6;
}

.sh-l-dIce {
  box-shadow: 5px -5px 10px #96d9d6;
}

.sh-l-uIce {
  box-shadow: -5px -5px 10px #96d9d6;
}

.sh-r-dIce {
  box-shadow: 5px 5px 10px #96d9d6;
}

.sh-r-uIce {
  box-shadow: -5px 5px 10px #96d9d6;
}

.sh-u-dIce {
  box-shadow: 0px 5px 10px -5px #96d9d6, 0px -5px 10px -5px #96d9d6;
}

.sh-l-rIce {
  box-shadow: 5px 0px 10px -5px #96d9d6, -5px 0px 10px -5px #96d9d6;
}

.sh-gIce {
  box-shadow: 0px 0px 10px #96d9d6;
}

.sh-leftFighting {
  box-shadow: -5px 0 5px #c22e28;
}

.sh-rightFighting {
  box-shadow: 5px 0 5px #c22e28;
}

.sh-upFighting {
  box-shadow: 0 -5px 5px #c22e28;
}

.sh-downFighting {
  box-shadow: 0 5px 5px #c22e28;
}

.sh-l-dFighting {
  box-shadow: 5px -5px 10px #c22e28;
}

.sh-l-uFighting {
  box-shadow: -5px -5px 10px #c22e28;
}

.sh-r-dFighting {
  box-shadow: 5px 5px 10px #c22e28;
}

.sh-r-uFighting {
  box-shadow: -5px 5px 10px #c22e28;
}

.sh-u-dFighting {
  box-shadow: 0px 5px 10px -5px #c22e28, 0px -5px 10px -5px #c22e28;
}

.sh-l-rFighting {
  box-shadow: 5px 0px 10px -5px #c22e28, -5px 0px 10px -5px #c22e28;
}

.sh-gFighting {
  box-shadow: 0px 0px 10px #c22e28;
}

.sh-leftPoison {
  box-shadow: -5px 0 5px #a33ea1;
}

.sh-rightPoison {
  box-shadow: 5px 0 5px #a33ea1;
}

.sh-upPoison {
  box-shadow: 0 -5px 5px #a33ea1;
}

.sh-downPoison {
  box-shadow: 0 5px 5px #a33ea1;
}

.sh-l-dPoison {
  box-shadow: 5px -5px 10px #a33ea1;
}

.sh-l-uPoison {
  box-shadow: -5px -5px 10px #a33ea1;
}

.sh-r-dPoison {
  box-shadow: 5px 5px 10px #a33ea1;
}

.sh-r-uPoison {
  box-shadow: -5px 5px 10px #a33ea1;
}

.sh-u-dPoison {
  box-shadow: 0px 5px 10px -5px #a33ea1, 0px -5px 10px -5px #a33ea1;
}

.sh-l-rPoison {
  box-shadow: 5px 0px 10px -5px #a33ea1, -5px 0px 10px -5px #a33ea1;
}

.sh-gPoison {
  box-shadow: 0px 0px 10px #a33ea1;
}

.sh-leftGhost {
  box-shadow: -5px 0 5px #735797;
}

.sh-rightGhost {
  box-shadow: 5px 0 5px #735797;
}

.sh-upGhost {
  box-shadow: 0 -5px 5px #735797;
}

.sh-downGhost {
  box-shadow: 0 5px 5px #735797;
}

.sh-l-dGhost {
  box-shadow: 5px -5px 10px #735797;
}

.sh-l-uGhost {
  box-shadow: -5px -5px 10px #735797;
}

.sh-r-dGhost {
  box-shadow: 5px 5px 10px #735797;
}

.sh-r-uGhost {
  box-shadow: -5px 5px 10px #735797;
}

.sh-u-dGhost {
  box-shadow: 0px 5px 10px -5px #735797, 0px -5px 10px -5px #735797;
}

.sh-l-rGhost {
  box-shadow: 5px 0px 10px -5px #735797, -5px 0px 10px -5px #735797;
}

.sh-gGhost {
  box-shadow: 0px 0px 10px #735797;
}/*# sourceMappingURL=shadow-utils.css.map */