* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  position: sticky;
  display: flex;
  height: 45px;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  background-color: antiquewhite;
}
.flex {
  display: flex;
  align-items: center;
  gap: 15px;
}
a {
  text-decoration: none;
  color: black;
}
.name{
    font-size: 1.3rem;
}
.link{
    font-size: 1.2rem;
}
.float-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1 {
  display: flex;
  align-items: center;
}
.float {
  display: none;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: calc(100vh - 45px);
  max-width: 400px;
  right: 0;
  top: 45px;
  padding: 15px;
  background-color: antiquewhite;
}
.icon {
  cursor: pointer;
  margin: 0 5px;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}
hr {
  margin: 15px 0;
}
.logo {
  width: 1.5rem;
  height: 1.5rem;
}
.show {
  display: flex;
}
