/*Los colores de los que si quere cambiar uno aqui venimos y evitamos ir en cada apartado a cambiarlo :v*/
.Textos h1, .Textos h2, .Textos h3, .Textos h4, .Textos h5, .Textos h6 {
  color: #a8a77a;
}
.Textos h1 span.badge, .Textos h2 span.badge, .Textos h3 span.badge, .Textos h4 span.badge, .Textos h5 span.badge, .Textos h6 span.badge {
  color: #fff;
  padding: 5px 10px;
}
.Textos h1 span.badge.text-Fire {
  background-color: #ee8130;
}
.Textos h2 span.badge.text-Rock {
  background-color: #b6a136;
}
.Textos h3 span.badge.text-Water {
  background-color: #6390f0;
}
.Textos h4 span.badge.text-Electric {
  background-color: #f7d02c;
}
.Textos h5 span.badge.text-Ice {
  background-color: #96d9d6;
}
.Textos h6 span.badge.text-Dragon {
  background-color: #6f35fc;
}

.Boton-notificacion button {
  background-color: #a8a77a;
  border: 1px solid #a8a77a;
  color: #fff;
  padding: 5px 10px;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.Boton-notificacion button span.badge {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12px;
  padding: 3px 6px;
}
.Boton-notificacion button.btn-Fire {
  background-color: #ee8130;
  border: 1px solid #ee8130;
}
.Boton-notificacion button.btn-Fire span.badge {
  background-color: #ee8130;
}

.Botones {
  display: flex;
  flex-wrap: wrap;
}
.Botones .badge {
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #a8a77a;
  color: #fff;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 20px;
}
.Botones .badge.text-Normal {
  background-color: #a8a77a;
}
.Botones .badge.text-Fire {
  background-color: #ee8130;
}
.Botones .badge.text-Water {
  background-color: #6390f0;
}
.Botones .badge.text-Grass {
  background-color: #7ac74c;
}
.Botones .badge.text-Electric {
  background-color: #f7d02c;
}
.Botones .badge.text-Ice {
  background-color: #96d9d6;
}
.Botones .badge.text-Fighting {
  background-color: #c22e28;
}
.Botones .badge.text-Poison {
  background-color: #a33ea1;
}
.Botones .badge.text-Ground {
  background-color: #e2bf65;
}
.Botones .badge.text-Flying {
  background-color: #a98ff3;
}
.Botones .badge.text-Psychi {
  background-color: #f95587;
}
.Botones .badge.text-Bug {
  background-color: #a6b91a;
}
.Botones .badge.text-Rock {
  background-color: #b6a136;
}
.Botones .badge.text-Ghost {
  background-color: #735797;
}
.Botones .badge.text-Dragon {
  background-color: #6f35fc;
}
.Botones .badge.text-Dark {
  background-color: #705746;
}
.Botones .badge.text-Steel {
  background-color: #b7b7ce;
}
.Botones .badge.text-Hada {
  background-color: #d685ad;
}

.BotonesRedondeados {
  display: flex;
  flex-wrap: wrap;
}
.BotonesRedondeados .badge {
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px 10px;
  border-radius: 20px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.BotonesRedondeados .rounded {
  border-radius: 30px;
}
.BotonesRedondeados .text-Fire {
  background-color: #ee8130;
}
.BotonesRedondeados .text-Water {
  background-color: #6390f0;
}
.BotonesRedondeados .text-Grass {
  background-color: #7ac74c;
}
.BotonesRedondeados .text-Electric {
  background-color: #f7d02c;
}
.BotonesRedondeados .text-Ice {
  background-color: #96d9d6;
}
.BotonesRedondeados .text-Fighting {
  background-color: #c22e28;
}
.BotonesRedondeados .text-Poison {
  background-color: #a33ea1;
}
.BotonesRedondeados .text-Ground {
  background-color: #e2bf65;
}
.BotonesRedondeados .text-Flying {
  background-color: #a98ff3;
}
.BotonesRedondeados .text-Psychi {
  background-color: #f95587;
}
.BotonesRedondeados .text-Bug {
  background-color: #a6b91a;
}
.BotonesRedondeados .text-Rock {
  background-color: #b6a136;
}
.BotonesRedondeados .text-Ghost {
  background-color: #735797;
}
.BotonesRedondeados .text-Dragon {
  background-color: #6f35fc;
}
.BotonesRedondeados .text-Dark {
  background-color: #705746;
}
.BotonesRedondeados .text-Steel {
  background-color: #b7b7ce;
}
.BotonesRedondeados .text-Hada {
  background-color: #d685ad;
}/*# sourceMappingURL=styleBadges.css.map */